#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container {
  display: flex;
}

/* Sidebar Styling */
.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #ebecf3;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
  overflow: hidden;
  padding: 20px;
}

/* Collapsed Sidebar */
.sidebar.closed {
  width: 80px;
  box-shadow: none;
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  padding: 10px;
}

.sidebar a:hover {
  background: #ffba1a;
}

/* Content Area */
.content {
  margin-left: 260px;
  /* padding: 20px; */
  flex-grow: 1;
  background-color: #f4f4f4;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.closed ~ .content {
  margin-left: 80px;
}

/* Sidebar Toggle Button */
.toggle-btn {
  position: absolute;
  top: 20px;
  right: -30px;
  background: #444;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
